* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#class1 {
    background-color: rgb(216, 241, 157);
    width: 100%;
}

#class1 h1 {
    text-align: center;
    font-size: 1.3cm;
    margin: 3%;
}

.img1 {
    width: 40%;
}

#class1 p {
    font-size: 0.8cm;
    font-style: oblique;
    margin-top: 4px;
}

#class2 {
    background: url(./img/ray-hennessy-DAHUS8W4rNE-unsplash.改.jpg) repeat;
    height: 500px;
}

#class2 h2{
    text-align: center;
    font-size: 1.3cm;
    margin: 3%;
}

#class2 p {
    font-size: 0.9cm;
    border: 2px solid white;
    background-color: rgb(245, 245, 245,0.4);
    width: 80%;
    height: 60%;
    margin-left: 10%;
}